In [23]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np

In [24]:
# Here we have to load the given car Train Data into dataset and test data into testdata using read
dataset = pd.read_csv("C:/Users/haneesha/Anaconda3/bikeRentalHourlyTrain.csv")
testset = pd.read_csv("C:/Users/haneesha/Anaconda3/bikeRentalHourlyTest.csv")

In [25]:
headers11 = ["instant0","instant","dteday","season","yr","mnth","hr","holiday","weekday","workingday","weathersit","temp","atemp","hum","windspeed","casual","registered","cnt"]
headers22 = ["instant0","instant","dteday","season","yr","mnth","hr","holiday","weekday","workingday","weathersit","temp","atemp","hum","windspeed","casual","registered","cnt"]

In [26]:
dataset.columns = headers11
testset.columns = headers22

In [27]:
dataset.head()

,instant0,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2480,2481,2011-04-18,2,0,4,6,0,1,1,1,0.40,0.4091,0.82,0.0000,3,51,54
1,4731,4732,2011-07-21,3,0,7,1,0,4,1,2,0.74,0.7273,0.84,0.2239,5,16,21
2,7422,7423,2011-11-10,4,0,11,21,0,4,1,1,0.36,0.3333,0.57,0.2537,6,130,136
3,8588,8589,2011-12-29,1,0,12,15,0,4,1,2,0.30,0.3182,0.52,0.0896,27,150,177
4,16339,16340,2012-11-18,4,1,11,13,0,0,0,1,0.40,0.4091,0.62,0.3284,113,334,447

In [28]:
dataset.shape

(13034, 18)

In [29]:
dataset.drop('casual', axis=1, inplace=True)
dataset.drop('registered', axis=1, inplace=True)
dataset.drop('instant', axis=1, inplace=True)
dataset.drop('dteday', axis=1, inplace=True)



testset.drop('casual', axis=1, inplace=True)
testset.drop('registered', axis=1, inplace=True)
testset.drop('dteday', axis=1, inplace=True)
testset.drop('instant', axis=1, inplace=True)

In [30]:
print(dataset.describe())

           instant0        season            yr          mnth            hr  \
count  13034.000000  13034.000000  13034.000000  13034.000000  13034.000000
mean    8694.532760      2.501151      0.503222      6.537901     11.524858
std     5028.696269      1.108358      0.500009      3.440652      6.919784
min        0.000000      1.000000      0.000000      1.000000      0.000000
25%     4329.500000      2.000000      0.000000      4.000000      6.000000
50%     8709.500000      3.000000      1.000000      7.000000     12.000000
75%    13069.750000      3.000000      1.000000     10.000000     18.000000
max    17378.000000      4.000000      1.000000     12.000000     23.000000

            holiday       weekday    workingday    weathersit          temp  \
count  13034.000000  13034.000000  13034.000000  13034.000000  13034.000000
mean       0.028464      3.006982      0.682676      1.425349      0.496873
std        0.166301      2.006212      0.465453      0.639373      0.192009
min        0.000000      0.000000      0.000000      1.000000      0.020000
25%        0.000000      1.000000      0.000000      1.000000      0.340000
50%        0.000000      3.000000      1.000000      1.000000      0.500000
75%        0.000000      5.000000      1.000000      2.000000      0.660000
max        1.000000      6.000000      1.000000      4.000000      1.000000

              atemp           hum     windspeed           cnt
count  13034.000000  13034.000000  13034.000000  13034.000000
mean       0.475566      0.627438      0.190691    189.264462
std        0.171328      0.193192      0.122527    181.371544
min        0.000000      0.000000      0.000000      1.000000
25%        0.333300      0.470000      0.104500     40.000000
50%        0.484800      0.630000      0.194000    141.000000
75%        0.621200      0.780000      0.253700    280.000000
max        0.984800      1.000000      0.850700    977.000000

In [31]:
headers1 = ["instant0","season","yr","mnth","hr","holiday","weekday","workingday","weathersit","temp","atemp","hum","windspeed","cnt"]
headers2 = ["instant0","season","yr","mnth","hr","holiday","weekday","workingday","weathersit","temp","atemp","hum","windspeed","cnt"]

In [32]:
number = preprocessing.LabelEncoder()
for i in headers1:
    dataset[i] = number.fit_transform(dataset[i].astype("str"))

In [33]:
number = preprocessing.LabelEncoder()
for i in headers2:
    testset[i] = number.fit_transform(testset[i].astype("str"))

In [34]:
train_x, train_y = dataset[headers1[1:-1]], dataset[headers1[-1]]
test_x, test_y = testset[headers2[1:-1]], testset[headers2[-1]]

In [35]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.cross_validation import cross_val_score

In [36]:
knn=KNeighborsRegressor(n_neighbors=2)
trained_model = knn.fit(train_x, train_y.values.ravel())
test_model = knn.fit(test_x, test_y)

In [37]:
prediction1 = knn.predict(train_x)

In [38]:
prediction2 = knn.predict(test_x)

In [39]:
from sklearn.model_selection import KFold, cross_val_predict

In [40]:
kf = KFold(n_splits=5)

In [41]:
kf.get_n_splits(dataset)

5

In [42]:
kf_prediction = cross_val_predict(knn,dataset.iloc[:, 3:13 ],dataset["cnt"])
testkf_knn_pred = cross_val_predict(knn,testset.iloc[:, 3:13 ],testset["cnt"])

In [43]:
print("Mean squared error of test set using k fold: %.2f" % mean_squared_error(testset["cnt"], testkf_knn_pred))

Mean squared error of test set using k fold: 60240.24

In [44]:
print("Mean squared error of trained set using k fold: %.2f" %mean_squared_error(dataset["cnt"], kf_prediction))

Mean squared error of trained set using k fold: 72691.63