In [29]:
# Required Python Packages
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import numpy as np

In [30]:
# Here we have to load the given car Train Data into dataset and test data into testdata using read
dataset = pd.read_csv("C:/Users/haneesha/Anaconda3/adultTrain.data")
testset = pd.read_csv("C:/Users/haneesha/Anaconda3/adultTest.data")

In [31]:
headers11 = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","income"]
headers22 = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","income"]

In [32]:
dataset.columns = headers11
testset.columns = headers22

In [33]:
dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [34]:
dataset.shape

(32560, 15)

In [35]:
dataset.drop('capital-gain', axis=1, inplace=True)
dataset.drop('capital-loss', axis=1, inplace=True)
dataset.drop('fnlwgt', axis=1, inplace=True)

testset.drop('capital-gain', axis=1, inplace=True)
testset.drop('capital-loss', axis=1, inplace=True)
testset.drop('fnlwgt', axis=1, inplace=True)

In [36]:
dataset.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K

In [37]:
print(dataset.describe())

                age  education-num  hours-per-week
count  32560.000000   32560.000000    32560.000000
mean      38.581634      10.080590       40.437469
std       13.640642       2.572709       12.347618
min       17.000000       1.000000        1.000000
25%       28.000000       9.000000       40.000000
50%       37.000000      10.000000       40.000000
75%       48.000000      12.000000       45.000000
max       90.000000      16.000000       99.000000

In [38]:
headers1 = ["age","workclass","education","education-num","marital-status","occupation","relationship","race","sex","hours-per-week","native-country","income"]

headers2 = ["age","workclass","education","education-num","marital-status","occupation","relationship","race","sex","hours-per-week","native-country","income"]

In [39]:
number = preprocessing.LabelEncoder()
for i in headers1:
    dataset[i] = number.fit_transform(dataset[i].astype("str"))

In [40]:
number = preprocessing.LabelEncoder()
for i in headers2:
    testset[i] = number.fit_transform(testset[i].astype("str"))

In [41]:
dataset.dtypes

age               int64
workclass         int64
education         int64
education-num     int64
marital-status    int64
occupation        int64
relationship      int64
race              int64
sex               int64
hours-per-week    int64
native-country    int64
income            int64
dtype: object

In [42]:
testset.dtypes

age               int64
workclass         int64
education         int64
education-num     int64
marital-status    int64
occupation        int64
relationship      int64
race              int64
sex               int64
hours-per-week    int64
native-country    int64
income            int64
dtype: object

In [43]:
train_x, train_y = dataset[headers1[1:-1]], dataset[headers1[-1]]
test_x, test_y = testset[headers2[1:-1]], testset[headers2[-1]]

In [44]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train_x)
train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

In [45]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(30,30,30))

In [46]:
trained_model = mlp.fit(train_x,train_y)

In [47]:
test_model = mlp.fit(test_x, test_y)

In [48]:
predictions1 = trained_model.predict(train_x)

In [49]:
predictions2 = test_model.predict(test_x)

In [50]:
print( "Train Accuracy :: ", accuracy_score(train_y, trained_model.predict(train_x)))
print( "Test Accuracy  :: ", accuracy_score(test_y, predictions2))

Train Accuracy ::  0.820638820639
Test Accuracy  ::  0.835749385749

In [51]:
#confusion matrix for test data
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(test_y,predictions2))

[[11442   992]
 [ 1682  2164]]

In [52]:
#confusion matrix for train data
print(confusion_matrix(train_y,predictions1))

[[22417  2302]
 [ 3538  4303]]